body {
    margin: 0;
    background-color: #000;
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}
#menu {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
}
button {
    color: rgba(127,255,255,0.75);
    background: transparent;
    border: 1px solid rgba(127,255,255,0.75);
    padding: 5px 10px;
    cursor: pointer;
}
button:hover { background-color: rgba(0,255,255,0.5); }

/* The Element Card Design */
.element {
    width: 120px;
    height: 160px;
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
    text-align: center;
    cursor: default;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5px;
    box-sizing: border-box;
    pointer-events: none;
}
.element img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Circular profile pic */
    object-fit: cover;
}
.element .name {
    font-size: 12px;
    color: rgba(255,255,255,0.9);
    font-weight: bold;
}
.element .details {
    font-size: 10px;
    color: rgba(255,255,255,0.75);
}
